version: '3'


services:
  db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: gamenode
      MYSQL_PASSWORD: gamenode
      MYSQL_DATABASE: game_node_sync

    ports:
      - "9011:3306"
    networks:
      - game_node_app
    restart: no
    volumes:
      - db:/var/lib/mysql

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  redis:
    image: redis:latest
    ports:
      - "9012:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: 'yes'

    restart: no

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]

    volumes:
      - redis:/data

    networks:
      - game_node_app


networks:
  game_node_app:
    external: true

volumes:
  redis:
  db:

